* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

.menu-container {
  color: #fff;
  background-color: #1f2937;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  /* border: 1px solid #fff;  For debugging */
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.links {
  /* border: 1px solid #fff;  For debugging */
  display: flex;
  justify-content: flex-end;
  color: #E5E7EB;
  font-size: 18px;
}

.link3 {
  margin-left: 20px;
}
.link2 {
  margin-left: 20px;
}
.headerLink {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bolder;
}

.heroText {
  background-color: #1f2937;
  padding: 70px;
  width: 2000px;
  display: flex;
}

.textBox {
  display: flex;
  justify-content: flex-end;
  color: #E5E7EB;
  font-size: 18px;
  width: 1000px;
  
}
.awesomeText {
  font-size: 20px;
  font-weight: bolder;
  color: #F9FAF8;
}

.imageBox {
  border: white;
}